<div id="abastecimentos" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    ev_station
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Abastecimento
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Pesquisar abastecimento">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button [routerLink]="'/frota/abastecimentos/new'"
                class="add-abastecimento-button fuse-white mt-24 mt-md-0">
                <span>Cadastrar Abastecimento</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="abastecimentos-table" #table [dataSource]="dataSource" matSort
                [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let abastecimento">
                        <p class="text-truncate">{{abastecimento.id}}</p>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Veiculo</mat-header-cell>
                    <mat-cell *matCellDef="let abastecimento">
                        <p class="text-truncate">{{abastecimento.veiculo.nome}}</p>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="litro">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Quantidade em litros</mat-header-cell>
                    <mat-cell *matCellDef="let abastecimento">
                        <p class="text-truncate">
                            {{abastecimento.litro}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="valor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Valor por litro(R$)
                    </mat-header-cell>
                    <mat-cell *matCellDef="let abastecimento" fxHide fxShow.gt-xs>
                        <p class="price text-truncate">
                            {{abastecimento.valor | currency:'R$':'symbol'}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cupom">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Número do Cupom Físcal
                    </mat-header-cell>
                    <mat-cell *matCellDef="let abastecimento" fxHide fxShow.gt-md>
                        <p class="numCupomFiscal text-truncate">
                            {{abastecimento.cupom}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="data">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Data
                    </mat-header-cell>
                    <mat-cell *matCellDef="let abastecimento" fxHide fxShow.gt-md>
                        <p class="numCupomFiscal text-truncate">
                            {{abastecimento.abastecidoEm}}
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let abastecimento; columns: displayedColumns;" class="abastecimento" matRipple
                    [routerLink]="'/frota/abastecimentos/'+abastecimento.id+'/'+abastecimento.handle">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>