<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">Informações Gerais</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Gênero</div>
                    <div class="info">{{funcionario.sexo}}</div>
                </div>
            </div>

        </div>

        

        <div class="profile-box info-box contact" fxLayout="column">

            <header class="accent">
                <div class="title">Contato</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Endereço</div>
                    <div class="info">{{funcionario.endereco.cep}}</div>
                </div>
                <div class="info-line">
                    <div class="title">Tel.</div>
                    <div class="info" *ngFor="let tel of funcionario.telefones">
                        <span>{{tel.numero}}</span>
                    </div>
                </div>
           
                <div class="info-line">
                    <div class="title">Email</div>
                    <div class="info">
                        <span>{{funcionario.email}}</span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="35">

        <div class="profile-box info-box work" fxLayout="column">

            <header class="accent">
                <div class="title">Carreira</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Cargo</div>
                    <div class="info">{{funcionario.cargo.nome}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Empresas</div>
                    <table class="info jobs">
                        <tr class="job">
                            <td class="company">{{funcionario.empresa.nome}}</td>
                            <td class="date">{{funcionario.empresa.email}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        

    </div>

</div>
