<div id="motorista" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/motoristas'">
                    <mat-icon>airline_seat_recline_normal</mat-icon>
                </button>

                <div class="motorista-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="motorista.funcionario.foto"
                        [src]="'assets/images/pessoa/motorista-image-placeholder.png'">
                    <img *ngIf="!motorista.funcionario.foto"
                        [src]="'assets/images/pessoa/motorista-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{motorista.funcionario.nome}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Novo Motorista
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Motorista Detalhe</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-motorista-button" [disabled]="motoristaForm.invalid"
                *ngIf="pageType ==='new'" (click)="addMotorista()">
                <span>Adicionar</span>
            </button>

            <button mat-raised-button class="save-motorista-button"
                [disabled]="motoristaForm.invalid || motoristaForm.pristine" *ngIf="pageType ==='edit'"
                (click)="saveMotorista()">
                <span>SALVAR</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="motoristaForm" [formGroup]="motoristaForm" class="motorista w-100-p" fxLayout="column"
                    fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Informações básicas">


                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <div [formGroup]="pessoaForm" fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                        <mat-label>Nome da Motorista</mat-label>
                                        <input matInput placeholder="Nome da Motorista" name="nome"
                                            formControlName="nome" required>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="25">
                                        <mat-label *ngIf="tipoPessoa ==='F'">CPF</mat-label>
                                        <mat-label *ngIf="tipoPessoa ==='J'">CNPJ</mat-label>
                                        <input matInput placeholder="Informe o CPF ou CNPJ" name="cpfOuCnpj"
                                            formControlName="cpfOuCnpj" required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="25">
                                        <mat-label>Telefone </mat-label>
                                        <input matInput placeholder="Telefone" name="telefone"
                                            formControlName="telefone">
                                    </mat-form-field>
                                </div>

                                <div [formGroup]="enderecoForm" fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="10">
                                        <mat-label>cep</mat-label>
                                        <input matInput placeholder="Nome da Motorista" name="cep" formControlName="cep"
                                            required>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="88">
                                        <mat-label>logradouro</mat-label>
                                        <input matInput placeholder="Informe o CPF ou CNPJ" name="logradouro"
                                            formControlName="logradouro" required>
                                    </mat-form-field>


                                </div>
                                <div [formGroup]="enderecoForm" fxLayout="row" fxLayoutAlign="space-between">

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="15">
                                        <mat-label>numero </mat-label>
                                        <input matInput placeholder="numero" name="numero" formControlName="numero">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="25">
                                        <mat-label>complemento </mat-label>
                                        <input matInput placeholder="complemento" name="complemento"
                                            formControlName="complemento">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="25">
                                        <mat-label>bairro </mat-label>
                                        <input matInput placeholder="bairro" name="bairro" formControlName="bairro">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="25">
                                        <mat-label>cidade </mat-label>
                                        <input matInput placeholder="cidade" name="cidade" formControlName="cidade">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="05">
                                        <mat-label>estado </mat-label>
                                        <input matInput placeholder="estado" name="estado" formControlName="estado">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between">


                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>CNH</mat-label>
                                        <input matInput placeholder="Número da CNH" name="numero"
                                            formControlName="numero" required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Categoria</mat-label>
                                        <input matInput placeholder="Categoria da CNH" name="categoria"
                                            formControlName="categoria" required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Validade</mat-label>
                                        <input type="date" matInput placeholder="Data de validade" name="renovaEm"
                                            formControlName="renovaEm" required>
                                    </mat-form-field>
                                </div>






                            </div>


                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>