<div id="motorista" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/motoristas'">
                    <mat-icon>airline_seat_recline_normal</mat-icon>
                </button>

                <div class="motorista-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="motorista.pessoa.foto" [src]="'assets/images/pessoa/motorista-image-placeholder.png'">
                    <img *ngIf="!motorista.pessoa.foto" [src]="'assets/images/pessoa/motorista-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{motorista.pessoa.nome}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nova Motorista
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Motorista Detalhe</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-motorista-button" [disabled]="motoristaForm.invalid"
                *ngIf="pageType ==='new'" (click)="addMotorista()">
                <span>ADD</span>
            </button>

            <button mat-raised-button class="save-motorista-button"
                [disabled]="motoristaForm.invalid || motoristaForm.pristine" *ngIf="pageType ==='edit'"
                (click)="saveMotorista()">
                <span>SALVAR</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="motoristaForm" [formGroup]="motoristaForm" class="motorista w-100-p" fxLayout="column"
                    fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Basic Info">
                            <div [formGroup]="pessoaForm" class="tab-content p-24" fusePerfectScrollbar
                                fxLayout="column">

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Nome da Motorista</mat-label>
                                    <input matInput placeholder="Nome da Motorista" name="nome" formControlName="nome"
                                        required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label *ngIf="tipoPessoa ==='FISICA'">CPF</mat-label>
                                    <mat-label *ngIf="tipoPessoa ==='JURIDICA'">CNPJ</mat-label>
                                    <input matInput placeholder="Informe" name="cpfOuCnpj" formControlName="cpfOuCnpj"
                                        required>
                                </mat-form-field>



                                <div [formGroup]="cnhForm" class="section pb-48">

                                    <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon class="m-0 mr-16 secondary-text">access_time</mat-icon>
                                        <div class="h2 secondary-text">Carteira Nacional de Habilitação</div>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="space-between">
                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>Número</mat-label>
                                            <input matInput placeholder="Nome da Motorista" name="numero"
                                                formControlName="numero" required>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>Categoria</mat-label>
                                            <input matInput placeholder="Nome da Motorista" name="categoria"
                                                formControlName="categoria" required>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>Validade</mat-label>
                                            <input matInput placeholder="Nome da Motorista" name="renovaEm"
                                                formControlName="renovaEm" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>




                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>