<div id="veiculo" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/frota/veiculos'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{veiculo.marca.nome}} {{veiculo.nome}} - {{veiculo.anoFabricacao}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Cadastrar Veículo
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Dados do Veículo</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-veiculo-button" [disabled]="veiculoForm.invalid"
                *ngIf="pageType ==='new'" (click)="addVeiculo()">
                <span>Adicionar</span>
            </button>

            <button mat-raised-button class="save-veiculo-button"
                [disabled]="veiculoForm.invalid || veiculoForm.pristine" *ngIf="pageType ==='edit'"
                (click)="saveVeiculo()">
                <span>Salvar</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="veiculoForm" [formGroup]="veiculoForm" class="veiculo w-100-p" fxLayout="column" fxFlex>
                    <mat-tab-group>

                        <mat-tab label="Informações do Veículo">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Nome</mat-label>
                                    <input matInput placeholder="Informe o nome do veículo" name="nome"
                                        formControlName="nome" required>
                                </mat-form-field>


                                <div fxLayout="row" fxLayoutAlign="space-between">

                                    <mat-form-field appearance="outline" class="mr-16" fxFlex="30">
                                        <mat-label>Marca</mat-label>
                                        <mat-select formControlName="marca" required>
                                            <mat-option *ngFor="let marca of marcas" [value]="marca.id">
                                                {{marca.nome}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>


                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="20">
                                        <mat-label>Cor</mat-label>
                                        <input matInput placeholder="Informe a cor do veículo" name="cor"
                                            formControlName="cor" required>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="20">
                                        <mat-label>Ano de Fabricação</mat-label>
                                        <input matInput placeholder="Informe o ano de fabricação do veículo"
                                            name="anoFabricacao" formControlName="anoFabricacao" required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="20">
                                        <mat-label>Ano do Modelo</mat-label>
                                        <input matInput placeholder="Informe o ano do modelo do veículo"
                                            name="anoModelo" formControlName="anoModelo" required>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between">

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="15">
                                        <mat-label>Número da placa</mat-label>
                                        <input matInput placeholder="Informe a placa do veículo" name="placa"
                                            formControlName="placa" required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Número do Chassi</mat-label>
                                        <input matInput placeholder="Informe o número do Chassi" name="chassi"
                                            formControlName="chassi" required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Número do Renavam</mat-label>
                                        <input matInput placeholder="Informe o número do Renavam" name="renavam"
                                            formControlName="renavam" required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="15">
                                        <mat-label>Mes IPVA</mat-label>
                                        <input matInput placeholder="Informe o mes de vencimento do IPVA" name="mesIpva"
                                            formControlName="mesIpva" required>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between">

                                    <mat-form-field appearance="outline" class="mr-16" fxFlex>
                                        <mat-label>Tipo do Combustivel</mat-label>
                                        <mat-select formControlName="tipoCombustivel" required>
                                            <mat-option *ngFor="let combustivel of combustiveis"
                                                [value]="combustivel.id">
                                                {{combustivel.nome}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="mr-16" fxFlex>
                                        <mat-label>Categoria</mat-label>
                                        <mat-select formControlName="categoria" required>
                                            <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                                                {{categoria.nome}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>



                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between">

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="24">
                                        <mat-label>Valor Pago</mat-label>
                                        <input matInput placeholder="Informe o valor pago" name="valorPago"
                                            formControlName="valorPago" required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="24">
                                        <mat-label>Quilometragem Inicial</mat-label>
                                        <input matInput placeholder="Informe a Quilometragem inicial" name="kmInicial"
                                            formControlName="kmInicial" required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="24">
                                        <mat-label>Quilometragem Atual</mat-label>
                                        <input matInput placeholder="Informe a Quilometragem atual" name="kmAtual"
                                            formControlName="kmAtual">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="24">
                                        <mat-label>Data da ultima troca de pneu</mat-label>
                                        <input matInput placeholder="Informe a data da ultima troca de pneu"
                                            name="pneuTrocadoEm" formControlName="pneuTrocadoEm">
                                    </mat-form-field>
                                </div>

                            </div>
                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>