<div id="veiculo" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/frota/veiculos'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="veiculo-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="veiculo.images[0]" [src]="veiculo.images[0].url">
                    <img *ngIf="!veiculo.images[0]" [src]="'assets/images/frota/veiculo-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{veiculo.marca.nome}} {{veiculo.marca.modelos[0].nome}} - {{veiculo.anoFabricacao}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Cadastrar Veículo
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Dados do Veículo</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-veiculo-button" [disabled]="veiculoForm.invalid"
                *ngIf="pageType ==='new'" (click)="addVeiculo()">
                <span>Adicionar</span>
            </button>

            <button mat-raised-button class="save-veiculo-button"
                [disabled]="veiculoForm.invalid || veiculoForm.pristine" *ngIf="pageType ==='edit'"
                (click)="saveVeiculo()">
                <span>Salvar</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="veiculoForm" [formGroup]="veiculoForm" class="veiculo w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Informações do Veículo">

                            <div class="tab-content p-24" fusePerfectScrollbar>


                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Número da placa</mat-label>
                                    <input matInput placeholder="Informe a placa do veículo" name="placa"
                                        formControlName="placa" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Número do Chassi</mat-label>
                                    <input matInput placeholder="Informe o número do Chassi" name="chassi"
                                        formControlName="chassi" required>
                                </mat-form-field>
                              
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Número do Renavam</mat-label>
                                    <input matInput placeholder="Informe o número do Renavam" name="renavam"
                                        formControlName="renavam" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Marca</mat-label>
                                    <input matInput placeholder="Informe a marca" name="marca"
                                        formControlName="marca" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Ano de Fabricação</mat-label>
                                    <input matInput placeholder="Informe o ano de fabricação do veículo"
                                        name="anoFabricacao" formControlName="anoFabricacao" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Ano do Modelo</mat-label>
                                    <input matInput placeholder="Informe o ano do modelo do veículo" name="anoModelo"
                                        formControlName="anoModelo" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Cor</mat-label>
                                    <input matInput placeholder="Informe a cor do veículo" name="cor"
                                        formControlName="cor" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Tipo do Combustivel</mat-label>
                                    <input matInput placeholder="Informe o tipo de combustivel" name="tipoCombustivel"
                                        formControlName="tipoCombustivel" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Categoria</mat-label>
                                    <input matInput placeholder="Informe a categoria do veículo" name="categoria"
                                        formControlName="categoria" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Valor Pago</mat-label>
                                    <input matInput placeholder="Informe o valor pago" name="valorPago"
                                        formControlName="valorPago" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Kilometragem Inicial</mat-label>
                                    <input matInput placeholder="Informe a kilometragem inicial" name="kmInicial"
                                        formControlName="kmInicial" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Kilometragem Atual</mat-label>
                                    <input matInput placeholder="Informe a kilometragem atual" name="kmAtual"
                                        formControlName="kmAtual" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Data da ultima troca de pneu</mat-label>
                                    <input matInput placeholder="Informe a data da ultima troca de pneu" name="pneuTrocadoEm"
                                        formControlName="pneuTrocadoEm" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Mes IPVA</mat-label>
                                    <input matInput placeholder="Informe o mes de vencimento do IPVA" name="mesIpva"
                                        formControlName="mesIpva" required>
                                </mat-form-field>
                                

                            </div>

                        </mat-tab>

                        <mat-tab label="Veiculo Images">



                        </mat-tab>

                        <mat-tab label="Pricing">


                        </mat-tab>

                        <mat-tab label="">



                        </mat-tab>

                        <mat-tab label="">


                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>