<div id="manutencao" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/frota/manutencoes'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="manutencao-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'30ms',scale:'0.2'}}">
                    <img *ngIf="manutencao.images[0]" [src]="manutencao.images[0]">
                    <img *ngIf="!manutencao.images[0]" [src]="'assets/images/frota/manutencao-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{manutencao.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Cadastrar Manutenção
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Dados do Manutenção</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-manutencao-button" [disabled]="manutencaoForm.invalid"
                *ngIf="pageType ==='new'" (click)="addManutencao()">
                <span>Adicionar</span>
            </button>

            <button mat-raised-button class="save-manutencao-button"
                [disabled]="manutencaoForm.invalid || manutencaoForm.pristine" *ngIf="pageType ==='edit'"
                (click)="saveManutencao()">
                <span>Salvar</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="manutencaoForm" [formGroup]="manutencaoForm" class="manutencao w-100-p" fxLayout="column"
                    fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Informações do Manutenção">
                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <!--<mat-form-field appearance="outline" floatLabel="always" fxFlex="30"
                                        class="w-100-p">
                                        <mat-label>Id</mat-label>
                                        <input matInput placeholder="" name="name" formControlName="name">
                                    </mat-form-field>-->

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30"
                                        class="w-100-p">
                                        <mat-label>Veículo</mat-label>
                                        <input matInput placeholder="" name="veiculo" formControlName="veiculo">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30"
                                        class="w-100-p">
                                        <mat-label>Resnposável</mat-label>
                                        <mat-select placeholder="Informe o responsável" name="responsavel"
                                            formControlName="responsavel">
                                            <mat-option [value]="">teste1</mat-option>
                                            <mat-option [value]="">teste2</mat-option>
                                            <mat-option [value]="">teste3</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30"
                                        class="w-100-p">
                                        <mat-label>Motorista</mat-label>
                                        <mat-select placeholder="Selecione o motorista" name="motorista"
                                            formControlName="motorista">
                                            <mat-option [value]="">teste1</mat-option>
                                            <mat-option [value]="">teste2</mat-option>
                                            <mat-option [value]="">teste3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30"
                                        class="w-100-p">
                                        <mat-label>Plano de Manutenção</mat-label>
                                        <mat-select placeholder="Selecione o plano de manutenção" name="planoManutencao"
                                            formControlName="planoManutencao">
                                            <mat-option [value]="">teste1</mat-option>
                                            <mat-option [value]="">teste2</mat-option>
                                            <mat-option [value]="">teste3</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30"
                                        class="w-100-p">
                                        <mat-label>Plano Periodico</mat-label>
                                        <mat-select placeholder="Selecione o plano periodico" name="planoPeriodico"
                                            formControlName="planoPeriodico">
                                            <mat-option [value]="">tese2</mat-option>
                                            <mat-option [value]="">testte1</mat-option>
                                            <mat-option [value]="">teste3</mat-option>
                                        </mat-select>
                                    </mat-form-field>


                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30"
                                        class="w-100-p">
                                        <mat-label>Tipo de Manutenção</mat-label>
                                        <mat-select placeholder="Selecione o tipo de manutenção" name="tipoManutencao"
                                            formControlName="tipoManutencao">
                                            <mat-option [value]="">teste1</mat-option>
                                            <mat-option [value]="">teste2</mat-option>
                                            <mat-option [value]="">teste3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                        <mat-label>Peça a ser trocada</mat-label>
                                        <mat-select placeholder="Selecione a peça a ser trocada" name="peca"
                                            formControlName="peca">
                                            <mat-option [value]="">teste1</mat-option>
                                            <mat-option [value]="">teste2</mat-option>
                                            <mat-option [value]="">teste3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48"
                                        class="w-100-p">
                                        <mat-label>Data Inicial</mat-label>
                                        <input matInput placeholder="Informe a data de inicio" type="date"
                                            class="form-control" id="dataInicial" aria-describedby="id"
                                            name="dataInicial" formControlName="dataInicial">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="48"
                                        class="w-100-p">
                                        <mat-label>Data Final</mat-label>
                                        <input matInput placeholder="Informe a data final" type="date"
                                            class="form-control" id="dataFinal" aria-describedby="id" name="dataFinal"
                                            formControlName="dataFinal">
                                    </mat-form-field>
                                </div>




                            </div>
                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>