<div id="abastecimento" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/frota/abastecimentos'">
                    <mat-icon>ev_station</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{abastecimento.veiculo.nome}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Cadastrar Abastencimento
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Dados do Abastencimento</span>
                    </div>
                </div>

            </div><!-- / APP TITLE -->

            <button mat-raised-button class="save-abastecimento-button" [disabled]="abastecimentoForm.invalid"
                *ngIf="pageType ==='new'" (click)="addAbastecimento()">
                <span>Adicionar</span>
            </button>

            <button mat-raised-button class="save-abastencimento-button"
                [disabled]="abastecimentoForm.invalid || abastecimentoForm.pristine" *ngIf="pageType ==='edit'"
                (click)="saveAbastecimento()">
                <span>Salvar</span>
            </button>
        </div><!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="abastecimentoForm" [formGroup]="abastecimentoForm" class="abastecimento w-100-p"
                    fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Informações do Abastencimento">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                

                                <div fxLayout="row" fxLayoutAlign="space-between">

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30"
                                        class="w-100-p">
                                        <mat-label>Quantidade em Litros</mat-label>
                                        <input matInput type="number" placeholder="Quantidade em litros"
                                            name="qtdLitros" formControlName="qtdLitros" min="10">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30"
                                        class="w-100-p">
                                        <mat-label>Valor por Litro(R$)</mat-label>
                                        <input matInput type="number" placeholder="Informe o valor do litro"
                                            name="valorLitro" formControlName="valorLitro" min="10">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30"
                                        class="w-100-p">
                                        <mat-label>Valor Total(R$)</mat-label>
                                        <input matInput type="number" placeholder="Informe o valor total"
                                            name="valorTotal" formControlName="valorTotal" min="10">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30"
                                        class="w-100-p">
                                        <mat-label>Número do cupom físcal</mat-label>
                                        <input matInput placeholder="Informe o número do cupom fiscal"
                                            name="numCupomFiscal" formControlName="numCupomFiscal">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30"
                                        class="w-100-p">
                                        <mat-label>Data</mat-label>
                                        <input matInput placeholder="Informe a data do abastecimento" type="date"
                                            class="form-control" id="data" aria-describedby="id" name="data"
                                            formControlName="data">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30"
                                        class="w-100-p">
                                        <mat-label>KM Inicial</mat-label>
                                        <input matInput type="number" laceholder="Informe a data de final" type="number"
                                            class="form-control" id="kmInicial" aria-describedby="id" name="kmInicial"
                                            formControlName="kmInicial">
                                    </mat-form-field>



                                </div>

                            </div>

                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div><!-- / CONTENT -->

        </div><!-- / CONTENT CARD -->

    </div><!-- / CENTER -->

</div>