<div id="error-404" fxLayout="column" fxLayoutAlign="center center">

    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <div class="error-code">Bem-vindo ao S.T.A.N</div>

        <div class="message"><p>S.T.A.N sistema de gerenciamento de frota</p>
                            <p>Utilize o menu a esquerda para acessar as funcionalidades do S.T.A.N</p></div>

        <!--<div class="search" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="icon s-24">search</mat-icon>
            <input placeholder="Search for something" fxFlex>
        </div>-->

        <!--<a class="back-link" [routerLink]="'/apps/dashboards/project'">Go back to dashboard</a>-->

    </div>

</div>