<div id="empresa" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/empresas'">
                    <mat-icon>business</mat-icon>
                </button>

                <!--<div class="empresa-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="empresa.pessoa.foto" [src]="'assets/images/pessoa/motorista-image-placeholder.png'">
                    <img *ngIf="!empresa.pessoa.foto" [src]="'assets/images/pessoa/motorista-image-placeholder.png'">
                </div>-->

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{empresa.pessoa.nome}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nova Empresa
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Empresa Detalhe</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-empresa-button"
                    [disabled]="empresaForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addEmpresa()">
                <span>Adicionar</span>
            </button>

            <button mat-raised-button
                    class="save-empresa-button"
                    [disabled]="empresaForm.invalid || empresaForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveEmpresa()">
                <span></span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="empresaForm" [formGroup]="empresaForm" class="empresa w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Informações básicas">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <div fxLayout="row" fxLayoutAlign="space-between">

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="40">
                                        <mat-label>Cnpj</mat-label>
                                        <input matInput placeholder="Cnpj da Empresa"
                                            name="cnpj"
                                            formControlName="cnpj"
                                            required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="40">
                                        <mat-label>I.E</mat-label>
                                        <input matInput placeholder="Inscrição Estadual da Empresa"
                                            name="ie"
                                            formControlName="ie">
                                    </mat-form-field>
                                </div>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Nome da Empresa</mat-label>
                                    <input matInput placeholder="Nome da Empresa"
                                        name="nome"
                                        formControlName="nome"
                                        required>
                                </mat-form-field>


                                <div class="section pb-48" *ngFor="let contato of empresa.pessoa.contatos">

                                    <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon class="m-0 mr-16 secondary-text">access_time</mat-icon>
                                        <div class="h2 secondary-text">{{contato.tipo}}</div>
                                    </div>
                                  
                                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="Email da Empresa"
                                            name="email"
                                            formControlName="email"
                                            required
                                            value={{contato.email}}>
                                    </mat-form-field>

                                    <div class="section pb-48" *ngFor="let telefone of contato.telefones">

                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                            <mat-label>Telefone {{telefone.tipo}} </mat-label>
                                            <input matInput placeholder="Telefone {{telefone.tipo}}"
                                                name="telefone{{telefone.tipo}}"
                                                formControlName="telefone{{telefone.tipo}}"
                                                required
                                                value={{telefone.ddd}}-{{telefone.numero}}>
                                        </mat-form-field>

                                    </div>
                                    
                                
                                </div>


                            </div>

                

                        </mat-tab>

                        

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
