<div id="manutencoes" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    build
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Manutenções
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Pesquisar manutenções em aberto">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button [routerLink]="'/frota/manutencoes/new'"
                class="add-manutencao-button fuse-white mt-24 mt-md-0">
                <span>Cadastrar Manutenção</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="manutencoes-table" #table [dataSource]="dataSource" matSort
                [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let manutencao">
                        <p class="text-truncate">{{manutencao.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Image Column -->
                <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let veiculo">
                        <img class="veiculo-image" *ngIf="veiculo.featuredImageId" [alt]="veiculo.name"
                            [src]="veiculo.images[veiculo.featuredImageId].url" />
                        <img *ngIf="!veiculo.featuredImageId"
                            [src]="'assets/images/frota/veiculo-image-placeholder.png'">
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Veículos em Manutenção</mat-header-cell>
                    <mat-cell *matCellDef="let manutencao">
                        <p class="text-truncate">{{manutencao.name}}</p>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="veiculo">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Placa do veículo
                    </mat-header-cell>
                    <mat-cell *matCellDef="let manutencao" fxHide fxShow.gt-md>
                        <p class="veiculo text-truncate">
                            {{manutencao.veiculo[0]}}
                        </p>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="dataInicial">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Data Inicial</mat-header-cell>
                    <mat-cell *matCellDef="let manutencao" fxHide fxShow.gt-xs>
                        <p class="dataInicial text-truncate">
                            {{manutencao.dataInicial}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dataFinal">
                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Data Final</mat-header-cell>
                        <mat-cell *matCellDef="let manutencao" fxHide fxShow.gt-xs>
                            <p class="dataFinal text-truncate">
                                {{manutencao.dataFinal}}
                            </p>
                        </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="tipoManutencao">
                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Tipo de Manutenção</mat-header-cell>
                            <mat-cell *matCellDef="let manutencao" fxHide fxShow.gt-xs>
                                <p class="tipoManutencao text-truncate">
                                    {{manutencao.tipoManutencao}}
                                </p>
                            </mat-cell>
                    </ng-container>

                <!-- Active Column -->
                <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Status</mat-header-cell>
                    <mat-cell *matCellDef="let manutencao" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="manutencao.active" class="active-icon green-600 s-16">Resolvido</mat-icon>
                        <mat-icon *ngIf="!manutencao.active" class="active-icon red-500 s-16">Aberto</mat-icon>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let manutencao; columns: displayedColumns;" class="manutencao" matRipple
                    [routerLink]="'/frota/manutencoes/'+manutencao.id+'/'+manutencao.handle">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>